{{>header}}


<section class="vh-90" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/images/shane-rounce-DNkoNXQti3c-unsplash.jpg"
                                alt="community" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="/register" method="POST">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    </div>

                                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register now!
                                    </h3>

                                    {{#each arrWarnings}}
                                    <div class="alert alert-danger" role="alert">
                                        {{msg}}
                                    </div>
                                    {{/each}}

                                    <div class="form-outline mb-3">
                                        <input name="user" type="text" id="user" class="form-control form-control-lg"
                                            autocomplete="username" {{#if formData.user}}
                    value="{{formData.user}}" {{/if}}/>
                                        <label class="form-label" for="user">Username</label>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <input name="email" type="text" id="email" class="form-control form-control-lg"
                                            autocomplete="email" {{#if formData.email}}
                    value="{{formData.email}}" {{/if}}/>
                                        <label class="form-label" for="email">Email</label>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <input type="password" id="pass" name="pass"
                                            class="form-control form-control-lg" autocomplete="current-password" {{#if formData.pass}}
                    value="{{formData.pass}}" {{/if}}/>
                                        <label class="form-label" for="pass">Password</label>
                                    </div>
                                    {{#if message}}
                                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor"
                                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                                            viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                            <path
                                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                        <div>
                                            {{message}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if msg}}
                                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor"
                                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                                            viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                            <path
                                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                        <div>
                                            {{msg}}
                                        </div>
                                    </div>
                                    {{/if}}


                                    <div class="form-group">
		            	                <button type="submit" class="form-control contact-btn">Sign up</button>
		                            </div>

                                    <a class="small text-muted" href="#!">Forgot password?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/login"
                                            style="color: #393f81;">Login here</a></p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>